.numberCard {
    padding: 10px;
    margin-bottom: 24px;
    cursor: pointer;
    border-radius: 0.625rem;
    box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%), 0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
}  
.content {
    width: 100%;
    padding-left: 48px;
}
.title {
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 8px;
    height: 16px;
    text-overflow: ellipsis;
}
.number {
    line-height: 32px;
    font-size: 24px;
    height: 32px;
    margin-bottom: 0;
    text-overflow: ellipsis;
  }
  .iconWarp {
    font-size: 35px;
    float: left;
  }